[Unit]
Description=Avahi Alias
After=avahi-daemon.service

[Service]
User=nobody
ExecStart=/bin/bash -c '/usr/local/bin/avahi-alias $(< /etc/avahi/aliases)'

[Install]
WantedBy=multi-user.target
